html {
box-sizing: border-box;
}
* ,
* ::before ,
* ::after {
box-sizing: inherit;
}

html {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.25rem;
    line-height: 1.2;
    color: #194912;
    text-align:center;
    background-color: #faf6ea
}

h1,
h2,
h3 { 

}

h1 {
    font-family:'Trattatello', Times New Roman, fantasy;
    font-weight:bold;
    text-decoration:underline wavy #657f2c 2px;
    text-underline-offset: 10px;
    text-transform: capitalize;

}

.fade-text {
    animation: fadeTxt linear 1s 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeTxt {
    0% {
        opacity:0;
    }
    50% {
        font-size: 1.75rem;
    }
    100% {
        opacity:1;
        font-size: 2.25rem;}
    }


h1::before,
h1::after {
    content: "\1F342";
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size:small;
    font-style: italic;
}

p {
    letter-spacing: -0.05rem;
    margin-left: 400px;
    margin-right: 400px;
}

p a:visited {
    color: #657f2c;
}

p a:hover {
    color:#e97909;
}

nav a:visited {
    color: #657f2c;
    
}


nav a:hover,
nav a:active {
    text-decoration: underline;
    color:#e97909;
   
}   

nav a:hover::before {
    content: "\1F342";
}
nav a:hover::after {
    content: "\1F342";
}

#nav2 {
    text-align: center;
    position: sticky;
    margin-left: auto;
    margin-right: 20px;
    width: fit-content;
    top: 20px;
}

#emoji {
    position: fixed;
    bottom: 20px;
    left: 20px;
    margin-right: auto;
    width: fit-content;
    -webkit-animation:spin 4s linear infinite;
}

@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}


li {
    color:#194912;
}

li a:visited {
    color: #657f2c;
}


li a:hover,
li a:active {
    text-decoration: underline;
    color:#e97909;

}

footer {
    color: #194912;
    }

a {
    color: #6FA4AF
}

a:hover::before,
a:hover::after {
    content: "\1f342";
}